<% last_date = nil %>
<% counter = 0 %>
<% @filter.notes.each do |note| %>
  <% if note.original_date.yday != last_date %>
    <% counter = 0 %>
    <%= raw '</div>' unless last_date.nil? %>
    <header class="date"><%= note.original_date.strftime('%b %d, %Y') %></header>
    <% last_date = note.original_date.yday %>
    <div>
  <% end %>

  <% unless counter.zero? %><hr /><% end %>
  <% counter = counter + 1 %>

  <%= cache(['v1', note]) do %>
  <div class="note <%= 'collapsed' unless params[:collapse].blank? %>">
    <header>
      <span class="actions btn-group">
	<a href="<%= edit_note_path(note) %>" class="btn btn-mini note-editor">
	  <i class="icon-edit"></i>
	</a>
      </span>
      <span class="date"><%= note.original_date.strftime('%I:%M%P') %></span>
      <span class="title"><%= note.title %></span>
      <span class="title preview"><%= note.preview %></span>
    </header>
    <div class="body">
      <%= raw ::MarkdownHTML.render(note.body) %>
    </div>
    <footer>
      <div class="tags">
	<% note.tags.map(&:label).each do |tag| %>
	<a href="/notes?filter=.<%= tag %>"><span class="tag"><%= tag %></span></a>
	<% end %>
      </div>
    </footer>
    <div style="clear: both"></div>
  </div>
  <% end %>

<% end %>
<% unless @filter.notes.empty? %></div><% end %>
