<%= form_for(@note, :html => {:style => 'margin: 0 auto'}) do |f| %>
  <%= f.hidden_field :date %>
  <input type="hidden" name="previous_note_id" value="<%= @note.previous_id %>" />
  
  <div class="field">
    <%= f.text_field :title, :style => 'width: 100%',
                 :placeholder => @note.new_record? ? 'title...' : 'edit title...' %>
  </div>
  
  <div class="field preview">
    <%= f.text_area :body, :style => 'width: 70%; position: absolute; top: 40px; bottom: 30px',
                 :placeholder => @note.new_record? ? 'note...' : 'edit note...' %>
  </div>
  
  <div class="field">
    <%= f.text_field :tag_list, :style => 'position: absolute; bottom: 4px; width: 70%; margin: 0',
                 :placeholder => @note.new_record? ? 'tags...' : 'edit tags...' %>
  </div>
</div>
<% end %>

