<div class="note edit">
  <%= form_for(note) do |f| %>
    <%= f.hidden_field :date %>

    <div class="title">
      <%= f.text_field :title, "class": "form-control", autocomplete: "off",
          placeholder: f.object.persisted? ? "Add a title" : "A new note" %>
    </div>

    <div class="body editor">
      <%= f.text_area :body, "class": "form-control" %>
    </div>

    <div class="tags">
      <div class="input-group">
        <div class="input-group-btn">
          <div class="btn btn-default" data-toggle="modal"
               data-target="form:visible .tag-selector">Tags</div>
        </div>

        <%= f.text_field :tag_list, "class": "form-control", autocomplete: "off",
            placeholder: "Add tags (separate with commas)" %>

        <div class="input-group-btn">
          <input type="submit" value="Save" class="btn btn-default btn-success" />
        </div>
      </div>
    </div>

    <div class="modal tag-selector" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"><h3>Tags</h3></div>
          <div class="modal-body">
            <% current_user.tags.labels.each do |tag| %>
              <%= tag_selector_button(note, tag) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= actions do %>
    <% if note.persisted? %>
      <a href="<%= note_path(note, f: params[:f]) %>" title="Discard changes"
         class="fa fa-remove" data-edit-action="true"></a>
    <% else %>
      <a href="<%= notes_path(f: params[:f]) %>" title="Discard changes"
         class="fa fa-remove" data-edit-action="true"></a>
    <% end %>
  <% end %>
</div>
