<div class="note">
  <span class="title"><%= note.title %></span>

  <div class="body">
    <%= raw ::MarkdownHTML.render(note.body || '') %>
  </div>

  <footer>
    <div class="tags">
      <% note.tags.map(&:label).each do |tag| %>
        <%= tag_link(url_for(f: '.'), tag) %>
      <% end %>
    </div>
  </footer>

  <%= controls(note.user == current_user) do %>
    <a href="<%= edit_note_path(note, f: params[:f]) %>" title="Edit this item"
       class="glyphicon glyphicon-pencil" data-edit-action="true"></a>

    <%= form_for(note, html: { id: "toggle_published_note_#{note.id}" }) do |f| %>
      <%= hidden_field_tag :f, params[:f] %>
      <%= f.hidden_field :public, value: !note.public? %>
      <button type="submit" form="<%= f.options[:html][:id] %>" title="<%= note.public ? "Un-publish" : "Publish" %> this note">
        <span class="glyphicon glyphicon-eye-<%= note.public ? "close" : "open" %>"></span>
      </button>
    <% end %>
  <% end %>
</div>
