<div class="note" data-id="<%= @note.id %>" data-pinned="<%= @note.is_pinned %>">
  <div class="note-display">
    <span class="title"><%= @note.title %></span>
    <% unless @note.title.blank? %><br /><br /><% end %>
    <div class="body">
      <%= raw ::MarkdownHTML.render(@note.body || '') %>
    </div>
    <footer>
      <div class="tags">
        <% @note.tags.map(&:label).each do |tag| %>
        <%= tag_link("/notes/scratchpad?f=.", tag) %>
        <% end %>
      </div>
    </footer>
  </div>

  <div class="note-edit" style="display: none">
    <%= form_for(@note, :html => {'data-note-id' => @note.id}) do |f| %>
    <%= f.hidden_field :date %>

    <div style="position: absolute; top: 4px; width: 70%">
      <%= f.text_field :title, :style => 'width: 100%' %>
      <div class="unsaved-indicator">*</div>
    </div>

    <%= f.text_area :body, :style => 'position: absolute; top: 40px; bottom: 40px; width: 70%' %>

    <div style="position: absolute; bottom: 0px; width: 70%">
      <%= f.text_field :tag_list, :style => 'width: 100%' %>
    </div>
    <% end %>
  </div>
</div>
