<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield %>
</head>
<body>
  <div id="sidebar">
    <div class="row">
      <%= render 'layouts/browser/filterer' %>
    </div>

    <div class="row">
      <%= render 'layouts/browser/browser' %>
    </div>
  </div>

  <div id="viewport" class="row" style="height: 100%">
    <%= render 'layouts/browser/viewport' %>
  </div>
</body>
</html>
