<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield %>
</head>
<body>
  <div id="sidebar">
    <div class="row">
      <%= render 'layouts/browser/filterer' %>
    </div>

    <div class="row">
      <%= render 'layouts/browser/browser' %>
    </div>
  </div>

  <div id="viewport" class="row" style="height: 100%">
    <%= render 'layouts/browser/viewport' %>

    <div id="inspector" tabindex="-1" class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
