<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
</head>
<body>
  <div id="app_container">
    <%= react_component_with_content "App", {
          searchPath: notes_path,
          autoCompletePath: autocomplete_path,
          searchPlaceholder: "search notes by term or .tag",

          initialFilter: params[:f],
          initialResults: filter_results,
          initialSelectedResult: @note ? "notes/#{@note.id}" : "notes"
        }, prerender: true do %><%= yield %><% end %>
  </div>
</body>
</html>
